@import "tailwindcss";



:root {
  --primary-color: #FFD700;
}

.bg-gold{
    background-color: var(--primary-color);
}

.text-gold{
    color: var(--primary-color);
}

.border-gold{
    border-color: var(--primary-color);
}
